body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.heart {
  width: 100px;
  height: 100px;
  background-color: #ff69b4;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 auto;
}

.heart:before,
.heart:after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #ff69b4;
  border-radius: 50%;
  position: absolute;
}

.heart:before {
  top: -50px;
  left: 0;
}

.heart:after {
  top: 0;
  left: 50px;
}

p {
  font-size: 24px;
  margin-top: 20px;
  
}

button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.yes-btn {
  background-color: #ff69b4;
  color: #fff;
}

.no-btn {
  background-color: #ccc;
  color: #666;
}
.image-slider {
  position: relative;
  width: 600px;
  height: 700px;
  margin: 100px auto;
  overflow: hidden;
}

.image-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s;
}

.image-slider img:nth-child(1) {
  opacity: 1;
}
